.MainForm {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 50px;
  &-AllMyTag {
    display: flex;
    margin-top: 40px;
    &-All {
      width: 150px;
      height: 40px;
      border: 0.5px solid #c0c0c0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Noto Sans CJK KR;
      font-style: normal;
      font-weight: 500;
      color: #fcf6f5;
      background-color: #bcbcbc;
    }
    &-My {
      width: 150px;
      height: 40px;
      border: 0.5px solid #c0c0c0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      color: #fcf6f5;
      background-color: #bcbcbc;
      justify-content: center;
      font-family: Noto Sans CJK KR;
      font-style: normal;
      font-weight: 500;
    }
  }
  &-SubTag {
    display: flex;
    margin-top: 25px;
    &-item {
      width: 100px;
      height: 30px;
      box-sizing: border-box;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-family: Noto Sans CJK KR;
      font-style: normal;
      font-weight: 600;
      background-color: #bcbcbc;
      color: white;
      margin-right: 16px;
    }
  }
  &-ItemList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
    box-sizing: border-box;
    margin-top: 40px;
  }
}
.buy {
  background-color: #8aaae5;
}

.gift {
  background-color: #2bae66;
}
.end {
  background-color: #7d5fff;
}
.buyEnd {
  background-color: #f96167;
}
.giftEnd {
  background-color: #fce77d;
}
.check {
  background: white;
  color: #000000;
}
